.navbar-brand > img {
    max-height: 35px;
}
.navbar-brand {
    padding: 10px 15px;
}    

.alert{
	display: none;
}

#taxrate {
	display: none;
    border: 1px solid #e2e2e2;
    font-size: 11px;
    color:#000;
    position: absolute;
}

#taxrate div{
	padding: 3px 10px;
	border: 1px solid #fff;
	background-color: #fff;
}
#taxrate div:hover{
	border: 1px dotted #a3bae9;
	background-color: #e6f5fa;
}

.custom-row td{
	border: none !important;
}
.custom-row{
	background-color: #fff !important;  
}
.total-row{
	display: inline-block;
	width: 150px;
}
.selectedRow{
	background-color: #ffadad !important;
}


@media (min-width: 768px){
	.model-lg {
	    width: 900px;
	}
}